
#myDataTable {
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: thin
}

#tilesRight {
  height: 40px;
  width: 40px;
  float: right;
  margin-top: 10px;
  /*margin-left: 100%;*/
  background-color: white;
  border-color: purple;
  border-width: thin;
  border-style: solid;
  color: black;
}

#tilesLeft {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  background-color: white;
  border-color: purple;
  border-width: thin;
  border-style: solid;
  color: black;
}

#tilesRight:hover, #tilesLeft:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}

.example-container {
  height: 400px;
  overflow: auto;
}
