@import '~@angular/material/theming';
@include mat-core();

$my-red-brand: ( 50 : #eef5fb, 100 : #d4e5f5, 200 : #b7d4ee, 300 : #9ac2e7, 400 : #85b5e1, 500 : #6fa8dc, 600 : #67a0d8, 700 : #5c97d3, 800 : #528dce, 900 : #407dc5, A100 : #ffffff, A200 : #e3efff, A400 : #b0d3ff, A700 : #96c4ff, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ));


$my-app-primary: mat-palette($my-red-brand);
$my-app-accent: mat-palette($mat-pink);
$my-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
